$rune-border: 6px;
$rune-size: 50px;

.rune-wrapper {
  position: relative;
  width: $rune-size + $rune-border;
  height: $rune-size + $rune-border;
  display: inline-flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(
    to top,
    #ffffff,
    rgb(87, 87, 87) 20%,
    #000000 48%,
    #929292 50%,
    #b8b8b8 100%
  );
}

.rune-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 15px;
  background-color: #fff;
  transform: rotate(-45deg);
  animation: sparkle 6s ease-in 1s infinite;
}

@keyframes sparkle {
  0% {
    bottom: 250%;
  }
  90% {
    bottom: 150%;
  }
  98% {
    bottom: 0px;
  }
  100% {
    bottom: -100px;
  }
}

.invalid-rune {
  animation: invalidShake 0.2s none 0s infinite alternate;
  box-shadow: 0 0 10px 1px rgb(123, 19, 19);
}

@keyframes invalidShake {
  0% {
    left: -1px;
  }
  50% {
    left: 1px;
  }
  100% {
    left: -1px;
  }
}

.rune-border-color {
  z-index: 2;
  position: absolute;
  width: $rune-size + $rune-border;
  height: $rune-size + $rune-border;
  background-color: rgb(52, 52, 52);
  opacity: 85%;
}

.rune-border-color-active {
  background-color: #008cff;
  opacity: 40%;
  transition: background-color 1s ease-in-out;
  animation: glow 3s ease-in-out s infinite;
}

@keyframes glow {
  50% {
    background-color: #b2d6f4;
  }
}

.active-rune-wrapper {
  box-shadow: 0 0 8px rgb(131, 133, 137), 0 0 4px #000000;
}

.rune-icon {
  z-index: 3;
  width: $rune-size;
  height: $rune-size;
  background-repeat: no-repeat;
  background-size: inherit;
  box-shadow: inset 0 0 1px rgb(17, 17, 17), inset 0 0 10px #202020;
  transition: background-color 10s ease-in-out, box-shadow 2s ease-in-out;
}

.rune-icon:hover {
  background-position-y: 0px !important;
}

.rune-icon:active {
  transition: transform 0.1s ease-in;
  transform: scale(0.7);
}
