$rune-border: 6px;
$rune-size: 50px;

.rune-wrapper {
    width: $rune-size + $rune-border;
    height: $rune-size + $rune-border;
    background: linear-gradient(
        to top,
        #ffffff,
        rgb(87, 87, 87) 20%,
        #000000 48%,
        #929292 50%,
        #b8b8b8 100%
    );
    display: inline-flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.rune-border-color {
    z-index: 2;
    position: absolute;
    width: $rune-size + $rune-border;
    height: $rune-size + $rune-border;
    background-color: rgb(52, 52, 52);
    opacity: 85%;
}

.rune-border-color-active {
    background-color: rgb(0, 140, 255);
    opacity: 40%;
}

.active-rune-wrapper {
    box-shadow:
    0 0 8px rgb(131, 133, 137),
    0 0 4px #000000,
}

.rune-icon {
    z-index: 3;
    width: $rune-size;
    height: $rune-size;
    background-repeat: no-repeat;
    background-size: inherit;
    box-shadow:
    inset 0 0 1px rgb(17, 17, 17),
    inset 0 0 10px #202020,
}

.rune-icon:hover {
    background-position-y: 0px !important;
}

.active-rune-icon:hover {
    background-position-y: -50px !important;
}