.gray-bar, .progress {
    position: absolute;
    top: 15%;
    margin: 0 20%;
    height: 65%;
    width: 10px;
    background-color: rgb(67, 67, 67);
    border: 2px solid rgb(92, 92, 92);
    opacity: 50%;
    box-shadow: inset 0 0 1px rgb(45, 44, 44);
    transition: height .8s ease-in;
}

.progress {
    top: 10%;
    left: -4px;
    height: 0%;
    width: 100%;
    background-color: rgb(119, 122, 128);
    border: 2px solid rgb(81, 80, 80);
    opacity: 0%;
    display: flex;
    align-items: end;
}

.progress::after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 5px;
    transform: scaleX(1.7);
    box-shadow: inset 0px -2px 2px 1px rgb(255, 255, 255),
    0px -5px 9px 3px rgb(80, 190, 227),
    0px 0px 9px 3px rgb(239, 239, 239);
    background-color: #ffffff;
    border-radius: 10%;
}

.progress-1 { height: 30%; }

.progress-2 { height: 60%; }

.progress-3 { height: 100%; }

.progress-1, .progress-2, .progress-3 {
    opacity: 100%
}

@media (min-width:800px) {
    .gray-bar {
        position: absolute;
        top: 48%;
        left: 15%;
        width: 55%;
        height: 10px;
    }

    .progress {
        left: -15%;
        top: -2px;
        width: 0%;
        height: 100%;
        background-color: rgb(102, 106, 114);
        transition: width .8s ease-in;
        justify-content: end;
    }


    .progress::after {
        content: '';
        display: block;
        position: absolute;
        height: 10px;
        width: 5px;
        transform: scaleY(1.7);
        box-shadow: inset -2px 0 2px 1px rgb(255, 255, 255),
        -5px 0px 9px 3px rgb(80, 190, 227),
        0px 0px 9px 3px rgb(239, 239, 239);
        background-color: #9cfff2;
        border-radius: 10%;
    }

    .progress-1 { width: 30%;}

    .progress-2 {  width: 60%;}

    .progress-3 { width: 100%;}
}