
.point-wallet-wrapper {
    background-color: rgb(6, 7, 9);
    opacity: 80%;
    display: grid;
    width: 50vw;
    height: 15vh;
    margin: 0 20vw;
    align-content: center;
    justify-items: center;
    text-align: center;
    padding: 15px;
    align-self: center;
    justify-self: center;
    
    box-shadow: 0 0 3px rgb(55, 55, 55);
}

h3 {
    font-style: unset;
    color: rgb(67, 113, 141);
    font-weight: 200;
    font-size: x-large;
    padding: 0;
    margin: 0;
}

.ratio {
    width: 100%;
    height: 35%;
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: x-large;
    font-weight: 400;

    .spent-wrapper {
        height: 55px;
        position: relative;
        display: grid;
        overflow: hidden;
        justify-self: end;
        .spent {
            color: #ffffff;
            margin-right: 10px;
            transition: transform .5s ease-in-out;
        }
        // .spent-active {
        // }
    }

    .total {
        justify-self: start;
    }
}








@media (min-width:800px) {

    .point-wallet-wrapper {
        position: absolute;
        display: inline-grid;
        align-self: center;
        height: 10vh;
        width: 18vw;
        margin: calc(45vh + 3%) 1vw;
        top: 0;
    }
}